<!DOCTYPE html>
{% include "/layouts/layout.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sophie, aka CalrethilOfMirkwood</title>
    <style>
        html, body {
            font-family: 'Liberation Mono', monospace;
            color: midnightblue;
            background-color: azure;
            align-items: center;
        }
    </style>
    <script>
        console.log("currently playing: "+"{{ noldolante }}".slice(19))

        var jailcrow = "sussy";

        function ImageToggle(){
            if (jailcrow == "sussy") {
                console.log("sussy")
                document.getElementById("image").src = "/static/thranduil.png";
                jailcrow = "baka"
            }
            else if (jailcrow == "baka") {
                console.log("baka")
                document.getElementById("image").src = "/static/sophiephoto.jpg";
                jailcrow = "sussy"
            }
        }
    </script>
</head>

<body>
    <audio autoplay loop>
        <source src="{{ noldolante }}">
    </audio>

    <h1>Sophie, aka CalrethilOfMirkwood</h1>
    <img id="image" onclick=ImageToggle(); src={{url_for('sophie.static', filename='sophiephoto.jpg')}} width="600">
    <p>I like FOSS and Tolkien.</p>
    <p>My <a href="https://docs.google.com/document/d/1pevIAx6l1T2paGKv7fC8DbOfuA8IS8x0SDsPHH6GK3E/edit?usp=sharing">AP CSP Tri2 Journal</a> and my <a href="https://github.com/CalrethilOfMirkwood/FOSSite/issues/assigned/CalrethilOfMirkwood">GitHub issues</a></p>

    <br><br>

    <p>Normally the top post of r/silmarillionmemes would be here, is reddit blocked?</p>
    <iframe src="{{ noldolante }}" width=0 height=0></iframe>
</body>
</html>