<!DOCTYPE html>
{% include "/layouts/layout.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About michaelScopic</title>
    <style>
        body {
            background-color: deeppink;
            font-family: "Comic Sans MS";
        }
    </style>
    <script>
        var sus = "minecraft";

        function ImageToggle(){
            console.log("sus")
            if (sus == "minecraft") {
                document.getElementById("image").src = "{{url_for('michael.static', filename='owo.jpeg')}}";
                sus = "fortnite"
            }
            else if (sus == "fortnite") {
                document.getElementById("image").src = "{{url_for('michael.static', filename='img.png')}}";
                sus = "minecraft"
            }
        }
    </script>
</head>

<body>
    <h1>Michael Sanborn (michaelScopic)</h1>
</body>
<p>
    I am a Linux and PC nerd and a Minecraft veteran (played since late alpha). That's really all there is about me. <br>
    Discord: Michael_Scopic#0102 <br>
    GitHub: michaelScopic <br>
</p>
<img id="image" onclick=ImageToggle(); src="{{url_for('michael.static', filename='img.png')}}">
</html>