<!DOCTYPE html>
<html lang="en">
<head>
    {% include "/layouts/layout.html" %}
    <meta charset="UTF-8">
    <title>New Record</title>
</head>
<body>
<h3>This is an anonymous imageboard where people can post anything related to Linux and other FOSS.  Non-FOSS posts will be removed unless they are sufficiently funny, as deemed by the devs.</h3>
<table class="table table-striped table-table-bg" border = 1>
    <thead class="thead-table-bg">
    <td class="text-table-txt" scope="col">User</td>
    <td scope="col" class="text-table-txt">Title</td>
    <td scope="col"class="text-table-txt">Image</td>
    <td scope="col"class="text-table-txt">Post</td>
    </thead>

    {% for row in rows %}
        <tr>
            <td class="text-table-txt">{{row["name"]}}</td>
            <td class="text-table-txt">{{row["title"]}}</td>
            <td><img src="{{row["img"]}}" width="20%"></td>
            <td class="text-table-txt">{{row["post"]}}</td>
        </tr>
    {% endfor %}
</table>
<h1><a style="margin-left:45%; margin-right:45%;" type="button" href="{{ url_for('database.enternew') }}" class="btn btn-outline-button btn-lg">Add New Post</a></h1>

</body>
</html>