<!DOCTYPE html>
<html lang="en">
<head>
    {% include "/layouts/layout.html" %}
    <meta charset="UTF-8">
    <title>New Record</title>
</head>
<body>
    <form action = "{{ url_for('database.addpost') }}" method = "POST">
        <h3>Add New Post</h3>
        Username<br>
        <input type = "text" name = "name" /></br>

        Title<br>
        <input type = "text" name = "title" /><br>

        Image (image url, amp images will be removed)<br>
        <input type = "text" name = "img" /><br>

        Post Content<br>
        <input type = "text" name = "post" /><br>

        <input type = "submit" value = "submit" /><br>
    </form>
</body>
</html>