<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sophie, aka CalrethilOfMirkwood</title>
    <style>
        html {
            font-family: 'Liberation Mono', monospace;
            color: midnightblue;
            background-color: azure;
        }
    </style>
</head>

<body>
    <h1>Sophie, aka CalrethilOfMirkwood</h1>
    <img src="/static/sophiephoto.jpg">

    <br><br>

    <p>Normally the top post of r/silmarillionmemes would be here, is your wifi blocking reddit?</p>
</body>
</html>