<!DOCTYPE html>
<html lang="en">
{% include "layouts/layout.html" %}
{% block meta%}
<head>
    <meta charset="UTF-8">
    <title>Terminal Emulator</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='stylesheet' href='/terminal/normalize.css'>
    <link rel='stylesheet' href='/terminal/master.css'>
</head>
{% endblock %}
<body>
<div id='output-wrapper'></div>

<div class='input-wrapper'>
    <span>$&nbsp;</span><input id='terminput' type='text' autofocus/>
</div>
<button id="Enter">Enter</button>
<script>
    $("#pass").keyup(function(event) {
        if (event.keyCode === 13) {
            $("#Enter").click();
        }
    });

    $("#Enter").click(function() {
        var amongus = document.getElementById("terminput").value;
        alert(amongus); //i suffer from depression
    });
</script>

<script src='/terminal/terminal.js'></script>
<script src='/terminal/master.js'></script>
</body>
</html>