<!DOCTYPE html>
<html lang="en">
{% include "layouts/layout.html" %}
{% block meta%}
<head>
    <meta charset="UTF-8">
    <title>Terminal Emulator</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='stylesheet' href='/static/terminal/normalize.css'>
    <link rel='stylesheet' href='/static/terminal/master.css'>
</head>
{% endblock %}
<body onload="alert('This terminal is by Rohan Chandra at https://github.com/rohanchandra/javascript-terminal.');">

<div id='output-wrapper'></div>

<div class='input-wrapper'>
    <span>$&nbsp;</span><input id='input' type='text' autofocus/>
</div>

<script src='/static/terminal/terminal.js'></script>
<script src='/static/terminal/master.js'></script>
</body>
</html>