<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Valerie, aka DistilledVinegar</title>
    <style>
        body {
            background-color: #eadac5;
        }
    </style>
</head>

<body onload="ourGod()">

<audio id="ourGod">
    <source src="/static/ourgod.mp3" type="audio/mpeg">
</audio>

    <h1>Valerie, aka DistilledVinegar</h1>
<p>
    Problematic very often. LXDE enthusiast. Banned from unsupervised computer usage.
</p>
<img src="/static/valerie_drawing.png">
<script>
    var ourgod = document.getElementById("ourGod");
    function ourGod() {
        ourgod.play();
    }
</script>
</body>

</html>
