<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sophie, aka CalrethilOfMirkwood</title>
    <style>
        html {
            font-family: 'Liberation Mono', monospace;
            color: midnightblue;
            background-color: azure;
            padding: 5%;
            align-items: center;
        }
    </style>
</head>

<body>
    <audio autoplay>
        <source src="{{ noldolante }}">
    </audio>

    <h1>Sophie, aka CalrethilOfMirkwood</h1>
    <img src="{{url_for('sophie.static', filename='sophiephoto.jpg')}}" alt="my passport photo stares into your soul">
    <p>I like FOSS and Tolkien.</p>
    <a href="https://docs.google.com/document/d/1pevIAx6l1T2paGKv7fC8DbOfuA8IS8x0SDsPHH6GK3E/edit?usp=sharing">My AP CSP Tri2 Journal</a>

    <br><br>

    <p>Normally the top post of r/silmarillionmemes would be here, is your wifi blocking reddit?</p>
    <iframe src="{{ noldolante }}" width=0 height=0></iframe>
</body>
</html>